.head
	style(type="text/css")   
		.navbar-inner {
			background-color: #B6C0D2;
			background-image: linear-gradient(to bottom, #B6C0D2, #B6C0D2);
			background-color: #fafafa;
			-webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1); 
			

		}

.navbar.navbar-fixed-bottom
	.navbar-inner
		a.brand(style="padding-left:3%; margin-top:1%; margin-bottom:0.5%; font-size:xx-large; color: #000000; ", href="crush/") Block x Block
		a.brand(style="margin-left:20px; margin-top:1%; margin-bottom:0.5%;font-size:xx-large; color: #000000;", href="crush/about/") About
		a.brand(style="margin-left:20px; margin-top:1%; margin-bottom:0.5%;font-size:xx-large; color: #000000; float:right;", href="crush/registration/") Register
		
