.head
	style(type="text/css")   
		.navbar-inner {
			background-color: #B6C0D2;
			background-image: linear-gradient(to bottom, #B6C0D2, #B6C0D2);
			background-color: #fafafa;

		}

.navbar.navbar-fixed-bottom
	.navbar-inner
		a.brand.pull-right(style="padding-left:3%; margin-top:1%; margin-bottom:0.5%; font-size:xx-large; color: #000000; float: right; ", href="/crush/") Log Out
		
