!!! 5
<!DOCTYPE HTML>
html
	include crush/includes/head
	include crush/includes/nav
	title Block x Block
	body(style="background-color: #BAEFFF; padding-top: 60px;")
		h1(style="padding-left:5px;") Right now Block x Block is in beta and running a pilot, but…

		h3(style="padding-left:5px;") Block x Block is an easy platform for schools and students to schedule blocks.
		h3(style="padding-left:5px;") If your school is interested please contact us at blkxblk@gmail.com