head
	title Block x Block
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
	script(src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js")
	script(src="/static/bootstrap/js/bootstrap.js")
	script(src="/static/javascripts/login.js")
	script(src="/static/javascripts/regpop.js")
	// script(src="/static/javascripts/jquery.js")
	// script(src="/static/javascripts/jquery-1.9.1.js")
	script(src="/static/javascripts/jquery-ui-1.10.3.custom.min.js")
	script(src="/static/javascripts/jquery-validate.js")
	script(src="/static/javascripts/bootstrap-alert.js")

	
	link(rel='stylesheet', href='/static/bootstrap/css/bootstrap.css')
