!!! 5 
<!DOCTYPE HTML>
html

  include crush/includes/head 
  include crush/includes/nav
  title Block x Block
  body(style="width: 65%; height: 55%;background-color: #BAEFFF; position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto;")
    
    .row
      h1.pull-left(style="font-size:70px; vertical-align: top; padding-bottom: 5%;") Block x Block
    .row
      h1.pull-left(style="display: inline;") School Administrator
      h1.pull-right(style="display: inline; padding-right: 17%;") Student
    .row
      form.pull-left(action="school_access/", method="post", id ="SchoolLogin", name = "SchoolLogin"){% csrf_token %}
        input.span3(type="text", required, placeholder="School Name", name ="SchoolName", id = "SchoolNames")
        br
        input.span3(type="password", required, placeholder="Password", name="SchoolPassword", id= "SchoolPassword")
        br
        input.btn-Gret(type="submit", value = "Login") 

      form.pull-right(style="display:inline;  padding-right: 7%;",action="user_access/", method="post", id ="StudentLogin", name = "StudentLogin"){% csrf_token %}
        input.span3(type="text", required, placeholder="Username", name ="Username", id = "Username")
        br
        input.span3(type="password", required, placeholder="Password", name="StudentPassword", id= "StudentPassword")
        br
        input.btn-Gret(type="submit", value = "Login")
    {% if messages %}
    <div class="alert alert-error logerrors">
    {% for message in messages %}
    <p>{% if message.tags %} {% endif %}{{ message }}</p>
    {% endfor %}
    </div>
    {% endif %}

