<html>
  <head>
		<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
	  <script src="../../static/javascripts/jquery.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.js"></script>
	  <script src="../../static/javascripts/login.js"></script>
	  <script src="../../static/javascripts/regpop.js"></script>
	  <script src="../../static/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
	  <script src="../../static/javascripts/jquery-validate.js"></script>
	  <script src="../../static/javascripts/bootstrap-alert.js"></script>
		<link rel="stylesheet" href="../../static/bootstrap/css/school_home.css">    
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        {% for o in Students %}
          {% for j in Preferences.items %}
            {% if j.0 == o %}
              var items = [];
              {% for k in j.1 %}
                items.push( "{{k}}" );
              {% endfor %}
              var {{o.user_profile.username|slugify}} = '<h10><a href="#" student="{{o.user_profile.username|slugify}}" class="changeClass">'+items.join(',</a> <a href="#" class="changeClass">')+' </a></h10>' ;
            {% endif %}
          {% endfor %}
          $("##{o.user_profile.username|slugify}").popover({trigger: "click",html:true, container: 'body', content:{{o.user_profile.username|slugify}}});
          {% endfor %}
      });
      $(document).on("click", ".changeClass", function() {
        $.post("change_prefs/", {new_class:$(this).html(), usr:$(this).attr("student"),},
          function(result) {
        });
      });
    </script>
  </head>
  <body>
   
    <div class="row">
      <h1>{{School.school_profile.username}}</h1>
      <h3>{{Entered_Fraction}} of students have entered their preferences</h3>
      {% if messages %}
        <div class="alert alert-error span10">
          {% for message in messages %}
          <p> {% if message.tags %} {% endif %} {{message}} </p>
          {% endfor %}
        </div>
      {% endif %}
      <div class="accordion" id="accordion_2">
        {% if done_and_sorted.items %}
          {% for i in done_and_sorted.items %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#_{{i.0.Class_Name|slugify}}" style="text-decoration: none;">{{i.0.Class_Name}} <div style="padding-left: 20px; display: inline;">{{i.0.Teacher}}</div>
                <div class="pull-right" style = "display:inline;" >Max Occupancy : {{i.0.Max_Occupancy}}</div> </a>
                <div class="pull-right" style = "display:inline;">
                </div>
                	<div id="_{{i.0.Class_Name|slugify}}" class="accordion-body collapse in">
                		<div class="accordion-inner">
                		{% for o in i.1 %}
                			<a style= "text-decoration:none; color:#000000;" id="{{o.user_profile.username|slugify}}">{{o.user_profile.username}}</a>
                			<div class="pull-right">
                			{{o.Class_chosen.rank|add:1}}
                			</div>	
                		  <br>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
              
              {% endfor %}
              {% endif %}
        </div>
      </div>
      <div id ="addClassModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" alt="add class">
        <div class="modal-header">
          <div class="pull-right close" data-dismiss="modal" aria-hidden="true"> x </div>
          <h1>Add A Class</h1>
        </div>
        <div class="modal-body">
          <form action="addClass/" method="post" id="addClass" name="addClass">{% csrf_token %}
            <input class="span3" type="text" required placeholder="Class Name" name="ClassName" id="ClassName" required maxlength="100" />
            <input class="span2" type="number" placeholder="Max Occupancy" name="MO" min="1" max="360" required />
            <input class="span3" type="text" placeholder ="Teacher" name="Teacher" required /><input class="span2" type="text" placeholder ="Grade (ex. 6, 6-7, 6-8)" name="Grade" min="6" max="8" required />
            
            <textarea class="form-control span7" placeholder = "Class Description" name="ClassDescription" id="ClassDescription" rows="4" required="true" maxlength=1000 ></textarea>
            <div class="modal-footer">
              <input class="btn" type="submit" value="Add"/>
            </div>
          </form>
        </div>
      </div>
      <div id="addStudentsModal" class="modal hide fade" tabindex="-1" role="dialogue" aria-labelledby="myModalLabel" alt="add class">
        <div class="modal-header">
          <div class="pull-right close" data-dismiss="modal" aria-hidden="true" >x</div>
          <h1>Add Students</h1>
        </div>
        <div class="modal-body">
          <form action="addStudents/" method="post" id="addStudents" name="addStudents" enctype="multipart/form-data"> {% csrf_token %}
            <div>Please upload the spreadsheet containing student names and passwords</div>
            <div> with names in column a and passwords in column b</div>
            <br>
            <input type="file" required name="spreadsheet" id="spreadsheet" accept=".csv" />
            <input class="pull-right btn" type="submit" value="Add" />
          </form>
        </div>
      </div>
      
      <div id="editClassModal" class="modal hide fade" tabindex="-1" role="dialogue" alt="add class">
        <div class="modal-header">
          <div class="pull-right close" data-dismiss="modal" aria-hidden="true">x</div>
          <h1>Edit A Class</h1>
        </div>
        <div class="modal-body">
          <form action="edit_class/" method="post" id="editClass" name="editClass">{% csrf_token %}
            <input class="span4" type="text" required="true" placeholder="Old Class Name" name="OldName" id="OldName" maxlength="100" />
            <input class="span4" type="text" required="true" placeholder="New Class Name" name="Class_Name" id="Class_Name" maxlength="100" />
            <input class="span1" type="number" name="MO" min="1" max="300" required="true" />
            <input class="span2" type="text" placeholder="Grade" name="Grade" min="6" max="8" required="true" />
            <textarea class="form-control span7" placeholder="Class Description" name="description" id="description" rows="4" required = "true"></textarea>
            <input class="span4" type="text" placeholder="Teacher Name" name="Teacher" id="Teacher" required="true" maxlength=20 />
            <div class="modal-footer">
              <input class="btn" type="submit" value="Edit">
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <form action="run_the_sort/" method="post" id="addClass" name="addClass" enctype="multipart/form-data">{% csrf_token %}
    <input class="btn span6" type="submit" value="Sort the students (don't worry you can run this multiple times)" id="submit" name="submit" />
    </form>

    <form action="Publish/" method="post" id="Publish" name="Publish" enctype="multipart/form-data">{% csrf_token %}
        <input class="btn" type="submit" id="submit" value="Publish assignments" id="submit" name="submit"/>
    </form>
    
    <div id="deleteClassModal" class="modal hide fade" tabindex="-1" role="dialogue" aria-labelledby="myModalLabel" alt="add class">
        <div class="modal-header">
          <div class="pull-right close" data-dismiss="modal" aria-hidden="true" >x</div>
          <h1>Which class would you like to delete?</h1>
        </div>
        <div class="modal-body">
          <form action="deleted/" method="post" id="addStudents" name="addStudents" enctype="multipart/form-data"> {% csrf_token %}
	  <input type="text" required="true" placeholder="Class Name" name="ClassName" id="ClassName" maxlength="100"/>
	  <input class="btn" type="submit" value="Delete"/>
	  </form>
        </div>
    </div>
    
    <div id="deadlineModal" class="modal hide fade" tabindex="-1" role="dialogue" aria-labelledby="myModalLabel" alt="add class">
        <div class="modal-header">
          <div class="pull-right close" data-dismiss="modal" aria-hidden="true" >x</div>
          <h2>Please set deadline date below</h2>
        </div>
        <div class="modal-body">
	  <form action="deadline/" method="post" id="deadline" name="deadline" enctype="multipart/form-data"> {% csrf_token %}
	  <input type="text" required="true" class="span2"
        placeholder="Month (01 or 1 work)" name="month" id="month"/> 
	  <input type="text" class="span2" required="true"
        placeholder="Day (ex. 01 or 1 work)" name="day" id="day"/>
	  <input type="text" class="span2" required="true"
        placeholder="Year (ex. 2014)" name="year" id="year" maxlength="100"/><br>
	  <input type="submit" class="btn" value="Set deadline"/>
	  </form>
	  Deadline will be set for 11:59 P.M. on this date
        </div>
    </div>
       <div class="alert">
      <button type="button" class="close"
        data-dismiss="alert">&times;</button>
	 {% if deadline %}
	 <strong>Note:</strong> Students have until
        <strong>{{deadline}}</strong> to submit their preferences.
	 {% else %}
	 <strong>Note:</strong> No deadline has been set for submitting preferences.
	 {% endif %}
    </div>
<div class="navbar navbar-fixed-bottom teachnav">
  <div class="navbar-inner">
  <ul class="nav">
   <li><a href="#addClassModal" role="button" data-toggle="modal"">Add
  a class</a></li>
   <li class="divider-vertical"></li>
    <li><a href="#addStudentsModal" role="button" data-toggle="modal"">Add students</a></li>
  <li class="divider-vertical"></li>
  <li><a href="#deleteClassModal" role="button"
              data-toggle="modal"">Delete a class</a></li>
    <li class="divider-vertical"></li>
  <li><a href="#editClassModal" role="button" data-toggle="modal"">Edit a Class</a></li>
 <li class="divider-vertical"></li>
 <li><a href="Publish/" role="button">Publish Assignments</a></li>
  <li class="divider-vertical"></li>
 <li><a href="#deadlineModal" role="button" data-toggle="modal">Set Deadline</a></li>
  <li class="divider-vertical"></li>
 <li><a href="logout_view/" role="button">Logout</a></li>
 
  </ul>
  </div>
</div>
  </body>

</html>