!!! 5
<!DOCTYPE HTML>
html
  include crush/includes/head
  include crush/includes/nav_4
  title Block x Block
  script
    $(document).ready(function() {
      {% for o in Students %}
        {% for j in Preferences.items %}
          {% if j.0 == o %}
            var items = [];
            {% for k in j.1 %}
              items.push( "{{k}}" );
            {% endfor %}
            var {{o.user_profile.username|slugify}} = '<h10><a href="#" student="{{o.user_profile.username|slugify}}" class="changeClass">'+items.join(',</a> <a href="#" class="changeClass">')+' </a></h10>' ;
          {% endif %}
        {% endfor %}
        $("##{o.user_profile.username|slugify}").popover({trigger: "click",html:true, container: 'body', content:{{o.user_profile.username|slugify}}});
      {% endfor %}
    });

    $(document).on("click", ".changeClass", function() {
      $.post("change_prefs/", {new_class:$(this).html(), usr:$(this).attr("student"),},
        function(result) {
          alert(result);
        });
    });
   
  body(style="background-color: #BAEFFF; padding-top: 20px; padding-left: 20px;")
    .row(style="padding-left:20px;")
      h2 Welcome 
      h1(style="display: inline;")#{School.school_profile.username}
      br
      br
      br
      h3 #{Entered_Fraction} Students have entered their preferences
      br
      br
      {% if messages %}
      <div class="alert alert-error logerrors">
      {% for message in messages %}
      <p>{% if message.tags %} {% endif %}{{ message }}</p>
      {% endfor %}
      </div>
      {% endif %} 
      .accordion(id="accordion_2")
        if done_and_sorted.items
          each i in done_and_sorted.items
            .accordion-group
              .accordion-heading
                |<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#_{{i.0.Class_Name|slugify}}" style="text-decoration: none;">{{i.0.Class_Name}} <div style="padding-left: 20px; display: inline;">{{i.0.Teacher}}</div> <div class="pull-right" style = "display:inline;" >Max Occupancy : {{i.0.Max_Occupancy}}</div></a>
                |<form action='deleted/' method="post" style="display:inline"/>{% csrf_token %}
                |<input type="submit" id="deleteClass" value="Delete class" name="{{i.0.Class_Name}}" class="btn btn-primary btn-mini" style="display:inline"/> </form>
                |<div class="pull-right" style = "display:inline;">
                |</div>
                |	<div id="_{{i.0.Class_Name|slugify}}" class="accordion-body collapse in">
                |		<div class="accordion-inner">
                |		{% for o in i.1 %}
                |			<a style= "text-decoration:none; color:#000000;" id="{{o.user_profile.username|slugify}}">{{o.user_profile.username}}</a>
                |			<div class="pull-right">
                |			{{o.Class_chosen.rank|add:1}}
                |			</div>	
                |				<br>
                |		{% endfor %}
                | 	</div>
                |	</div>
      form(action='Publish', method="post", id="Publish",name = "Publish",enctype="multipart/form-data"){% csrf_token %}
        input.btn-Gret(type="submit", value = "Publish assignments", id= "submit", name = "submit", style = "margin-bottom : 50px;")
    #addClassModal(class="modal hide fade", tabindex="-1", role = "dialogue", aria-labelledby="myModalLabel",alt="add class")
      .modal-header
        btn.pull-right(class='close',data-dismiss="modal",aria-hidden="true") x
        h1(style="text-align:left") Add A Class
      .modal-body(style="text-align: left")
        form(action="addClass/", method="post", id="addClass",name = "addClass"){% csrf_token %}
          input(class="span4",type ="text", required, placeholder="Class Name",name="ClassName",id="ClassName",required="true",maxlength="100")
          input(class="span1",type="number", name = "MO",min="1", max="300",required = "true")
          input(class="span2",type="text", placeholder="Grade",name = "Grade",min="6", max="8",required = "true")
          br
          textarea.form-control.span7(placeholder="Class Description", name="ClassDescription",id="ClassDescription",rows="4", required = "true", maxlength=1000)
            br
          input.span7(placeholder="Teacher Name", name="Teacher",id="Teacher",required = "true", maxlength=20)
          br

          .modal-footer
            input.btn-Gret(type="submit", value = "Add")
    #addStudentsModal(class="modal hide fade", tabindex="-1", role = "dialogue", aria-labelledby="myModalLabel",alt="add class")
      .modal-header
        btn.pull-right(class='close',data-dismiss="modal",aria-hidden="true") x
        h1(style="text-align:left") Add Students
      .modal-body(style="text-align: left")
        form(action="addStudents/", method="post", id="addStudents",name = "addStudents",enctype="multipart/form-data"){% csrf_token %}

          h9 Please upload the spreadsheet containing student names and passwords
          h9 with names in column a and passwords in column b.
          br
          br
          br
          input(type="file",required,name="spreadsheet",id="spreadsheet", accept=".csv")
          br
          br
          br
          input.pull-right.btn-Gret(type="submit", value = "Add")
    form(action="run_the_sort/", method="post", id="addClass",name = "addClass",enctype="multipart/form-data"){% csrf_token %}
      input.btn-Gret(type="submit", value = "Sort the students (Don't worry you can run this multiple times)", id= "submit", name = "submit", style = "margin-bottom : 50px;")

#editClassModal(class="modal hide fade", tabindex="-1", role = "dialogue", aria-labelledby="myModalLabel",alt="add class")
      .modal-header
        btn.pull-right(class='close',data-dismiss="modal",aria-hidden="true") x
        h1(style="text-align:left") Edit A Class
      .modal-body(style="text-align: left")
        form(action="edit_class/", method="post", id="addClass",name = "editClass"){% csrf_token %}
          input(class="span4",type ="text", required, placeholder="Old Class Name",name="OldName",id="OldName",required="true",maxlength="100")
          input(class="span4",type ="text", required, placeholder="New Class Name",name="Class_Name",id="Class_Name",required="true",maxlength="100")
          input(class="span1",type="number", name = "MO",min="1", max="300",required = "true")
          input(class="span2",type="text", placeholder="Grade",name = "Grade",min="6", max="8",required = "true")
          br
          textarea.form-control.span7(placeholder="Class Description", name="ClassDescription",id="ClassDescription",rows="4", required = "true", maxlength=1000)
            br
          input.span7(placeholder="Teacher Name", name="Teacher",id="Teacher",required = "true", maxlength=20)
          br

          .modal-footer
            input.btn-Gret(type="submit", value = "Edit")


