<html>
  <head>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
	  <script src="../../static/javascripts/jquery.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.js"></script>
	  <script src="../../static/javascripts/login.js"></script>
	  <script src="../../static/javascripts/regpop.js"></script>
	  <script src="../../static/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
	  <script src="../../static/javascripts/jquery-validate.js"></script>
	  <script src="../../static/javascripts/bootstrap-alert.js"></script>
		<link rel="stylesheet" href="../../static/bootstrap/css/userview.css">    
    <script type="text/javascript">
      $(document).ready(function() {
        var changeCount = 0;
        $("#success-alert").hide();

        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
        $("#close-button").on("click", function(e) {
          $("#success-alert").hide();
        });
        {% for o in classes %}
          var {{o.Class_Name|cut:' '|cut:'.'}} = '<i> {{o.Class_Description|escapejs|cut:'.'}} </i>' ;
        $("#"+"{{o.Class_Name|slugify}}").popover({trigger: "click", content: {{o.Class_Name|cut:' '|cut:'.'}}, html:true , title: '{{o.Teacher|escapejs}}' });
        {% endfor %}
        function idsToArray(ids) {
          var values = [];
          for(var i=0; i<ids.length; i++) {
            values.push($('#'+ids[i]).attr("name"));
          }
          return values;
        }
        $("#submit").on("click", function(e){
          if(changeCount>1) 
            $("#alert-body").html("You preferences have been changed!");
          changeCount++;
          $(".alert").alert();
          $("#success-alert").show();
          var postUrl = "pref_reg/";
          var prefs = $("#sortable").sortable("toArray");
          prefs = idsToArray(prefs);
          var dataString = prefs.join(',');
          var data = {"data": dataString,csrfmiddlewaretoken:'{{csrf_token}}' };
          $.post(postUrl, data);
        });
      });
    </script>
  </head>
  <body>
<br><br>
{% if deadline %}
 <div class="alert" align="center">
      <button type="button" class="close" data-dismiss="alert">&times;</button>

   You have until <strong>{{deadline}}</strong> to submit your preferences.

 </div>
 {% endif %}
   
    <h1> Please order your preferences</h1>
    <ul id="sortable" name="sortable" >
      {% if classes %}
        {% for class in classes %}
        <li class="ui-stat-default btn" name="{{class.Class_Name}}" id="{{class.Class_Name|slugify}}" rel="popover" value="{{class.Class_Name}}">{{class.Class_Name}}</li>
        {% endfor %}
      {% endif %}
    </ul>
    <input class="btn" type="submit" value="Submit" id="submit"
        name="submit" />
<br><br>
     <div id="success-alert" class="alert alert-block alert-success fade in">
      <button type="button" class="close" id="close-button">x</button>
      <h4 class="alert-heading">Success!</h4>
      <p id="alert-body">
      Your Preferences have been noted!
      </p>
    </div>
    <br><br><br><br>
   

    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
  <ul class="nav">
 <li><a href="logout_view/" role="button">Logout</a></li>
  </ul>
  </div>
</div>
  </body>
</html>
